@import '../../../../styles/global.scss';

.modal__modal-window {
  min-width: 600px;
  label {
    margin-right: 10px;
  }
  .confirm-button {
    float: right;
  }
}
.buttons-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.production-list {
  .production-list-td {
    padding: 2px;
  }
  .production-list-th {
    padding-right: 2px;
    padding-left: 2px;
  }
  .short-column {
    min-width: 15px;
  }
  .name-column {
    min-width: 250px;
  }
  .date-column {
    min-width: 70px;
  }
}
.production-list-buttons {
  .btn {
    padding: 2px 4px;
  }
}
.new-production {
  .form-td {
    padding: 0;
  }
  .form-btn {
    padding: 0.3rem;
  }
  input {
    text-align: center;
    display: inline-flex;
    padding: 0.5rem 2px;
    margin: 0;
    border: 0;
    width: 100%;
    min-height: 100%;
  }
}
