@import '../../../styles/global.scss';

.buttons-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.short-column {
  width: 10px;
}
.name-column {
  min-width: 250px;
}
.date-column {
  min-width: 70px;
}
.list-production {
  .td-class {
    padding: 2px;
  }
}
.list-buttons {
  .btn {
    padding: 2px 4px;
  }
}
