.buttons-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.short-column {
  width: 10px;
}
.name-column {
  min-width: 300px;
}
.date-column {
  width: 80px;
}
.new-production {
  .form-td {
    padding: 0;
  }
  .form-btn {
    padding: 0.5rem;
  }

  input {
    display: inline-flex;
    padding: 0.75rem;
    margin: 0;
    border: 0;
    width: 100%;
    min-height: 100%;
  }
}
